In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd

In [4]:
my_series=pd.Series(data=[1,2,3,4],index=['a','b','c','d'])
my_series

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
my_dict={'x':2,'a':5,'b':4,'c':8} # like per row construction
my_series2=pd.Series(my_dict)
my_series2

x    2
a    5
b    4
c    8
dtype: int64

In [6]:
my_series['a'] # similar to dict

1

In [7]:
my_series[0]  # numeric index for list also work for pandas data frame

1

In [8]:
# like numpy array for the same dimention can use math operation
# operations performed on two series allign by label:

my_series+my_series

a    2
b    4
c    6
d    8
dtype: int64

In [10]:
my_series>my_series # see the comparasion will also work here

a    False
b    False
c    False
d    False
dtype: bool

In [12]:
my_series3=pd.Series({'a':1,'b':2,'c':3})
my_series+my_series3

a    2.0
b    4.0
c    6.0
d    NaN
dtype: float64

In [15]:
# see d is not NAN value after operation; however 4(my_series)+NaN =NaN # NaN States not a number; if one row of each not match eachother;
# it will have two NaN which make the new df as 5 row instead of original 4 row each ---nuance

In [17]:
import numpy as np

In [18]:
## many np function work for the series as well
np.mean(my_series)

2.5

In [22]:
# thw dict feed to pd.DataFrame;the value can be array like;list like and tuple like; we can aslo pass a single value for the data frame
#see example below:
#series can be a dict or a list
#my_series3=pd.Series({'a':1,'b':2,'c':3})
# my_series+my_series3
# pd.Series([4.5,5,6.1],index=['Joe','Bob','Frans'])
# note if it is a list has to name the index or on defualt
# 'siblings':1,
# 'gender':'m' --- here map the same value across the columns---within pd.DataFrame funciton
my_dict={'name':['Joe','Bob','Frans'],
         'age':np.array([10,15,20]),
         'weight':pd.Series([4.5,5,6.1],index=['Joe','Bob','Frans']),
         'siblings':1,
         'gender':'m'
         
    
}
df=pd.DataFrame(my_dict)
df

#### nuance==== since weight is one of the pandas series with name as index, hence, the df has the same index from this series
## after the data frame being created

        name  age  weight  siblings gender
Joe      Joe   10     4.5         1      m
Bob      Bob   15     5.0         1      m
Frans  Frans   20     6.1         1      m

In [29]:
# for index we can pass the columns 
df2=pd.DataFrame(my_dict,index=my_dict['name'])
df2
# we can pass a index series

        name  age  weight  siblings gender
Joe      Joe   10     4.5         1      m
Bob      Bob   15     5.0         1      m
Frans  Frans   20     6.1         1      m

In [25]:
df2['weight']

Joe      4.5
Bob      5.0
Frans    6.1
Name: weight, dtype: float64

In [26]:
df2.weight

Joe      4.5
Bob      5.0
Frans    6.1
Name: weight, dtype: float64

In [30]:
del df2['name']

In [31]:
df2

       age  weight  siblings gender
Joe     10     4.5         1      m
Bob     15     5.0         1      m
Frans   20     6.1         1      m

In [32]:
# add a columns
df2['IQ']=[130,105,115]
df2

       age  weight  siblings gender   IQ
Joe     10     4.5         1      m  130
Bob     15     5.0         1      m  105
Frans   20     6.1         1      m  115

In [33]:
df2['friend']='none'
df2

       age  weight  siblings gender   IQ friend
Joe     10     4.5         1      m  130   none
Bob     15     5.0         1      m  105   none
Frans   20     6.1         1      m  115   none

In [34]:
# when u add a column to df, it match the index, if not return/ add NaN

In [35]:
# you can set the columns to index like name here to easy retrive data
df2.loc['Joe','IQ']

130

In [38]:
# loc support slice function
#.loc  is label base indexing
df2.loc['Joe':'Bob','IQ':'friend'] # here note it include the end for silicing not like slicing on list exclude the end value

      IQ friend
Joe  130   none
Bob  105   none

In [39]:
df2.iloc[0] # first row row[0]

age           10
weight       4.5
siblings       1
gender         m
IQ           130
friend      none
Name: Joe, dtype: object

In [40]:
df2.iloc[0,5]

'none'

In [41]:
df2.iloc[0:1,3:5] # note here slice not include the end one

    gender   IQ
Joe      m  130

In [44]:
# we can use logical index to return value; note only True be returned

boolen_index=[False,True,True]
df2[boolen_index]  # we just need to pass in the same demention; not even need to add; on defualt is row
# reason it help to choose across row base on assign true/false to manipulate data

       age  weight  siblings gender   IQ friend
Bob     15     5.0         1      m  105   none
Frans   20     6.1         1      m  115   none

In [45]:
# logic index can create subset of data based on the conditional triggers/constrains

In [49]:
# note to create a boolen index we can use some operater that return boolen
#eg.
boolen_index=df2['age']>12
df2[boolen_index] # simple like that just pass the boleen series to df by using df[the series]

       age  weight  siblings gender   IQ friend
Bob     15     5.0         1      m  105   none
Frans   20     6.1         1      m  115   none

In [48]:
boolen_index # note here is the series of boolen

Joe      False
Bob       True
Frans     True
Name: age, dtype: bool

In [50]:
# we can also with concentrate step;
df2[df2['age']>12] # pass the series directly

       age  weight  siblings gender   IQ friend
Bob     15     5.0         1      m  105   none
Frans   20     6.1         1      m  115   none

In [54]:
#exploring data frame

dfset=pd.read_csv('train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'

In [55]:
titanic_train.index=titanic_train['Name'] # set indexing
print(titanic_train.index[0:10])

NameError: name 'titanic_train' is not defined

In [ ]:
np.mean(titanic_train, axis=0) # here we calculate on columns